# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
env/
.venv/
.env

# Editor and IDE files
.vscode/
.idea/
*.swp
*~

# Test and coverage
.coverage
htmlcov/
.pytest_cache/

# Package management
*.egg-info/
dist/
build/

# Jupyter Notebook files
.ipynb_checkpoints/

# Operating System files
.DS_Store
Thumbs.db

# Misc files
*.log